[Desktop Entry]
Type=Application
Name=PyQorreos
Comment=Gestor de correo electrónico
Exec=pyqorreos %U
Icon=pyqorreos
Terminal=false
Categories=Network;Email;
Keywords=mail;email;imap;smtp;
StartupWMClass=PyQorreos
